body {
  margin: 0px;
  padding: 0px;
}

.main {
  margin: 0px;
}

.coaches {
 /* background-color: skyblue;*/
}
.coaches>h2{
	text-align: center;
}
.addButton{
	width: 100%;
}
.input_gr{
	margin-bottom: 5px;
}
.buttons>button{
	margin: 2px;
}
.team{
  background-color: green;
}
.footballers{
  /*background-color: red;*/
}
.footballers>h2{
	text-align: center;
}

.panel {
  margin-top: 10px;
}
.panel-body {
  background-color: white !important;
}
