body {
	font-family: sans-serif;;
 	margin: 0px;
	padding: 0px;
}

.main {
  margin: 0px;
}

.coaches {
 /* background-color: skyblue;*/
}
.coaches>h2{
	text-align: center;
}
.addButton{
	width: 100%;
}
.input_gr{
	margin-bottom: 5px;
}
.buttons>button{
	margin: 2px;
}
.team{
	margin-top: 20px;
	padding: 10px;
	background-color:#80b4c8;
	border-radius: 5px;;
}
.team>h1 {
	font-size: 46px;
	text-align: center;
}
.team>h3{
	text-align: center;
}
.spans_names{
	font-size: 26px;
	font-weight: bold;
}
.footballers{
  /*background-color: red;*/
}
.footballers>h2{
	text-align: center;
}

.panel {
  margin-top: 10px;
}
.panel-body {
  background-color: white !important;
}
